header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    background-color: #333;
    color: #fff;
    padding: 10px;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li,> span {
            cursor: pointer;
            list-style: none;
            &:hover {
                color: #888;
            }
        }
    }
}